/* =========================================================
   MARQUEE DO FOOTER
========================================================= */

.marquee-track {
    display: flex;
    width: max-content;

    animation: marquee 18s linear infinite;
}


/* =========================================================
   CADA BLOCO
========================================================= */

.marquee-content {
    display: flex;
    align-items: center;

    flex-shrink: 0;

    font-family: "Bebas Neue", sans-serif;

    font-size: 24vw;

    line-height: 0.8;

    white-space: nowrap;

    

    color: var(--border);
}


/* =========================================================
   ESTRELA
========================================================= */

.marquee-star {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;

    font-size: 0.50em;

    line-height: 1;

    margin-left: 0.20em;
    margin-right: 0.20em;

    transform: translateY(-0.05em);
}


/* =========================================================
   ANIMAÇÃO
========================================================= */

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}